<!-- Contact -->
<section id="contact" class="wrapper split">
	<div class="inner">
    <section>
      <h2>Get a Quote</h2>
      <form method="post" action="http://formspree.io/trish@jguernelandscaping.com">
        <div class="row uniform">
          <div class="6u 12u$(large) 6u(medium) 12u$(xsmall)">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="6u$ 12u$(large) 6u$(medium) 12u$(xsmall)">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" />
          </div>
          <div class="12u$">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="12u$">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="5"></textarea>
          </div>
          <div class="12u$">
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="special" /></li>
              <li><input type="reset" value="Reset" /></li>
            </ul>
          </div>
        </div>
      </form>
    </section>
		<section>
			<h2>Other ways to reach us</h2>
			<ul class="bulleted-icons">
				<li>
					<span class="icon-wrapper"><span class="icon fa-phone"></span></span>
					<h3>Phone</h3>
					<p><a href="tel:7723981328">(772) 398-1328</a></p>
				</li>
        <li>
					<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
					<h3>Email</h3>
					<p><a href="mailto:trish@jguernelandscaping.com">trish@jguernelandscaping.com</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
					<h3>Twitter</h3>
					<p><a href="http://twitter.com/JGuerneLS">twitter.com/JGuerneLS</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
					<h3>Facebook</h3>
					<p><a href="http://facebook.com/JGuerneLandscapingInc">facebook.com/JGuerneLandscapingInc</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-home"></span></span>
					<h3>Mailing Address</h3>
					<p>2533 SE Delano Road<br />
					Port Saint Lucie, FL 34952<br />
					United States
					</p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
					<h3>LinkedIn</h3>
					<p><a href="#">linkedin.com/untitled-tld</a></p>
				</li>
			</ul>
		</section>
	</div>
</section>
