<!--
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>J. Guerne Landscaping</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link href="styledrift.css" rel="stylesheet" type="text/css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <link rel="canonical" href="http://jguernelandscaping.com/">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
        <meta name="description" content="Port St Lucie Landscaping" />
		<meta property="og:title" content="J Guerne Landscaping" />
		<meta property="og:description" content="J. Guerne Landscaping has been beatifying the Treasure Coast for over 20 years. We work closely with our customers from design to installation, ensuring quality landscapes." />
		<meta property="og:url" content="http://www.jguernelandscaping.com/" />
		<meta property="og:site_name" content="J Guerne Landscaping" />
		<meta name="twitter:card" content="summary" />
        <meta name="description" content="J. Guerne Landscaping has been beatifying the Treasure Coast for over 20 years. We work closely with our customers from design to installation, ensuring quality landscapes.">
        <meta name="keywords" content="Guerne, J Guerne, J Guerne Landscaping, J Guerne Landscaping Inc, Port Saint Lucie Landscaping, Stuart, Martin County, Fort Pierce, landscaping port saint lucie florida, landscape lighting, clean ups, cleanups, Residental Lawn Care, 34953, 34986, St. Lucie, Lawn Care Services,  Landscaping, Landscaper, Lawn Service, Port St Lucie, Lawn Care, Lawn, Treasure Coast Area&#39;s, Lawn Services,  Lot Clearing, Tree Trimming, Irrigation, Lawn Service, Lawn Mowing, Port St. Lucie. St. Lucie County, Lot Clearing, Lawn Cutting, Port St. Lucie Lawn Care, Port St. Lucie Landscaper, Port St. Lucie Landscaping, Lawn Service, Lawn Care, Landscaping, St. Lucie, Landscaper, Pressure Washing, Mulching, Port St. Lucie, Albert&#39;s Landscaping">
        <meta name="search-terms" content="Lawn Service, Lawn Care, Landscaping, St. Lucie, Landscaper, Pressure Washing, Mulching, Port St. Lucie, Albert&#39;s Landscaping">

	</head>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

  <title>{% if page.title %}{{ page.title }} // {{ site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?git={{ site.github.build_revision }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
</head>
